IP_ADDRESS=127.0.0.1
OAUTH_SECRET=
OAUTH_CLIENT_ID=
GITHUB_REDIRECT_URI=http://127.0.0.1:8000/auth/github/callback

USE_SAAS=False

# if use saas is fasle, below are not needed and local camunda will be used
ZEEBE_ADDRESS
ZEEBE_CLIENT_ID
ZEEBE_CLIENT_SECRET
ZEEBE_AUTHORIZATION_SERVER_URL
ZEEBE_REST_ADDRESS
ZEEBE_GRPC_ADDRESS
ZEEBE_TOKEN_AUDIENCE
CAMUNDA_TOKEN_AUDIENCE
CAMUNDA_CLUSTER_ID
CAMUNDA_CLIENT_ID
CAMUNDA_CLIENT_SECRET
CAMUNDA_CLUSTER_REGION
CAMUNDA_CREDENTIALS_SCOPES
CAMUNDA_TASKLIST_BASE_URL
CAMUNDA_OPTIMIZE_BASE_URL
CAMUNDA_OPERATE_BASE_URL
CAMUNDA_OAUTH_URL
CAMUNDA_CLIENT_MODE
CAMUNDA_CLIENT_AUTH_CLIENTID
CAMUNDA_CLIENT_AUTH_CLIENTSECRET
CAMUNDA_CLIENT_CLOUD_CLUSTERID
CAMUNDA_CLIENT_CLOUD_REGION